* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: url(images/white-puzzles-blue-background-flat-lay.jpg) center
    no-repeat;
}

#welcomeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 103, 205, 0.8);
  padding: 4.5rem;
  border-radius: 10px;
}

.welcomeText,
#readyText {
  font-size: 1.6rem;
  /* font-weight: bold; */
  padding-bottom: 0.6rem;
  color: #eceffe;
  text-align: center;
}

#welcomeSection input,
#submitName,
.noBtn,
.goBtn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.7rem;
}

#welcomeSection input {
  padding: 0.6rem 0.8rem;
}

#welcomeSection input:focus {
  outline: rgb(32, 103, 205);
}

.name_error {
  margin-top: 6px;
  color: rgb(251, 215, 215);
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-style: italic;
  display: none;
}

#submitName,
.noBtn,
.goBtn {
  background-color: #27c324;
  color: #fff;
  margin-top: 0.8rem;
}

.noBtn,
.goBtn {
  padding: 0.7rem 2.5rem;
  text-align: center;
}

#submitName:hover,
.noBtn:hover,
.goBtn:hover {
  cursor: pointer;
  border: 2.5px solid rgb(32, 103, 205);
  color: rgb(32, 103, 205);
  font-weight: bold;
  background-color: #d3dbfd;
  margin-bottom: -0.3rem;
}

#welcomeSection input:focus {
  border: rgba(32, 103, 205, 0.8);
}

/* Game Page */
#GameSection {
  background-color: rgba(169, 215, 236, 0.8);
  height: 100vh;
}

#questionArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.questionNo {
  color: #416c9c;
  font-weight: bold;
  font-style: italic;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1.2rem;
}

.Q1 {
  display: none;
}

.question {
  width: 60vw;
  background-color: white;
  padding: 2rem 6rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #416c9c;
  text-align: center;
  font-size: 2rem;
  border-radius: 4px;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 35px;
}

.answer-options {
  background-color: white;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #416c9c;
  font-size: 1.2rem;
  box-shadow: 4px 5px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid rgba(32, 103, 205);
  transition: all 0.3s;
}

.answer-options:hover {
  background-color: #d3dbfd;
  border: 4px solid #749cd7;
  cursor: pointer;
}

.answerStatus {
  text-align: center;
  font-weight: 600;
  font-style: italic;
  margin-top: 35px;
  display: block;
  font-size: 1.6rem;
}

#submitAnswerBtn {
  background-color: rgba(32, 103, 205);
  padding: 0.7rem 0.3rem;
  border-radius: 2.6rem;
  width: 30%;
  align-self: center;
  border: none;
  color: white;
  font-size: 1.4rem;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}

#submitAnswerBtn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eceffe;
  color: rgb(32, 103, 205);
  font-weight: bold;
  border: 2px solid rgb(32, 103, 205);
  margin-bottom: -4px;
}

#next-btn {
  position: absolute;
  border-radius: 40px;
  background-color: #5278a2;
  color: white;
  padding: 10px;
  text-align: center;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -13%);
  z-index: 99;
  font-size: 30px;
  display: none;
}

.correct {
  background: green;
  color: #eceffe;
  border: none;
}

.incorrect {
  background: red;
  color: #eceffe;
  border: none;
}

@media (max-width: 430px) {
  #welcomeSection {
    padding: 4.5rem 2rem;
    width: 80%;
  }

  #readyText {
    padding-bottom: 2rem;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  #questionArea {
    background-color: white;
    padding: 1.3rem 1.7rem;
    border-radius: 2.4rem;
    opacity: 0.9;
    z-index: 99;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  .questionNo {
    display: none;
  }

  .Q1 {
    display: block;
    color: #5278a2;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    margin-top: 1.3rem;
    opacity: 0.7;
    border-bottom: 2px solid rgb(32, 103, 205);
  }

  .question {
    margin: 1.3rem 0;
    padding: 0.3rem 0.4rem;
    font-size: 2rem;
  }

  #options {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px 35px;
  }

  .answer-options {
    text-align: left;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
  }

  .answerStatus {
    text-align: center;
    font-weight: 600;
    font-style: italic;
    margin-top: 35px;
    display: block;
    font-size: 1rem;
  }

  #submitAnswerBtn {
    border-radius: 2.2rem;
    width: 75%;
    font-size: 1.2rem;
  }

  #next-btn {
    bottom: 0.05rem;
    transform: translate(-50%, -50%);
    display: none;
  }
}
